@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
  margin: 0;
  padding:2em;
  font-family: sans-serif;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

ul li { 
  list-style-type: none;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  display: block;
  margin-bottom: 10px;
  padding: 15px 30px 5px 30px;
  background-color: white;
}

ul li:hover{
  -webkit-box-shadow: 0px 1px 1px 0px rgba(163,163,163,0.63);
  -moz-box-shadow: 0px 1px 1px 0px rgba(163,163,163,0.63);
  box-shadow: 0px 1px 1px 0px rgba(163,163,163,0.63);
}

form input {
  width: 50%;
  height: 34px;
  padding: 0 30px 0 15px;
  font-size: 14px;
  line-height: 38px;
  background-color: white;
  color: black;
  font-weight: 300;
  border-style: solid;
  border-color: #D7DBDD;
  border-width: 1px;
}

form input:hover {
  -webkit-box-shadow: 0px 1px 1px 0px rgba(163,163,163,0.63);
  -moz-box-shadow: 0px 1px 1px 0px rgba(163,163,163,0.63);
  box-shadow: 0px 1px 1px 0px rgba(163,163,163,0.63);
}

a {
  text-decoration: none;
  color: black;
}

.submit-btn {
  width: 15%;
  border-style: solid;
  border-color: transparent;
  background-color: #f2f2f2;
  color: #757575;
  margin: 10px 10px 10px 10px;
  font-weight: 700;
  padding: 0 16px 0 16px;
  font-size: 13px;
  text-align: center;
  
}

.submit-btn:hover {
  border-style: solid;
  border-color: #CACFD2;
  border-width: 1px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(163,163,163,0.63);
  -moz-box-shadow: 0px 1px 1px 0px rgba(163,163,163,0.63);
  box-shadow: 0px 1px 1px 0px rgba(163,163,163,0.63);
}